.clients {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 30px;

  &__item {
    flex-basis: calc((100% - 150px) / 6);
  }

  &__link {
    fill: var(--icon-color);
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    outline: none;
    transition: fill var(--time-function), border var(--time-function);
  }

  &__link:hover,
  &__link:focus {
    border-color: var(--accent-text-color);
    fill: var(--accent-text-color);
  }

  &__icon {
    color: var(--icon-color);
  }

  &__icon:hover,
  &__icon:focus {
    color: var(--accent-text-color);
  }
}
