.social__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}
.social__item {
  transition: background-color var(--time-function);
  border-radius: 50%;
  margin-right: 10px;
}
.social__item:last-of-type {
  margin-right: 0px;
}
.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: currentColor; */
}
.social__item:hover,
.social__item:focus {
  background-color: var(--accent-text-color);
  fill: var(--background-heder-color);
}

.social__icon {
  fill: var(--primery-background-color);
}
.social__list {
  display: flex;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;

  &__icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: color var(--time-function),
      background-color var(--time-function);
  }

  &__link:hover,
  &__link:focus {
    fill: var(--primery-background-color);
    background-color: var(--accent-text-color);
  }

  &__link:hover .social-list__icon,
  &__link:focus .social-list__icon {
    fill: var(--primery-background-color);
  }
}
