.body {
  background-color: var(--primery-background-color);
  color: var(--primery-text-color);
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
