.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  // tablet style
  @media screen and (min-width: 768) {
    max-width: 768px;
  }
  //  desctop style
  @media screen and (min-width: 1200) {
    max-width: 1200px;
  }
}
