:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  /* Text color*/
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  /* Background-color */
  --primery-background-color: #ffffff;
  --footer-hero-color: #2f303a;
  --background-heder-color: #ffffff;
  --background-team-color: #f5f4fa;
  --critical-background-color: #c4c4c4;
  --icon-color: #afb1b8;
  /* Others */
  --logo-color: #000000;
  --border-color: #eeeeee;
  --time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

$mobile: 480px;
$pre-tablet: 767px;
$tablet: 768px;
$pre-desktop: 1199px;
$desktop: 1200px;
